<!DOCTYPE html>
<html>
<head>
	<title>OTP Verification Card Design | Rustcode</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>

<div class="container d-flex justify-content-center align-items-center">

 <div class="card text-center" >

	<div class="card-header p-5">
		<img src="static/images/otp.png" width=350>
		<h5 class="mb-2">OTP VERIFICATION</h5>
		Your 6-digit OTP code: <span id="otp-code"></span>
	</div>

 </div>

</div>

</body>
</html>