{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<form method="POST" action="/sign-up" onsubmit="showSuccessModal(event)">
  <h3 align="center">Sign Up</h3>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Enter first name"
    />
  </div>
  <div class="form-group">
    <label for="password1">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter password"
    />
  </div>
  <div class="form-group">
    <label for="password2">Password (Confirm)</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm password"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!-- Modal hiển thị thông báo -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="successModalLabel">Sign Up Success!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Congratulations! You have successfully signed up.
        <br>
        Click <a href="http://127.0.0.1:5001">here</a> to have a OTP.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="redirectToHome()">OK</button>
      </div>
    </div>
  </div>
</div>

<script>
  function showSuccessModal(event) {
    event.preventDefault();  // Ngăn chặn form submit mặc định
    $('#successModal').modal('show');
  }
  
  function redirectToHome() {
    window.location.href = '/home.html';
  }
</script>
{% endblock %}
